<div id="main" role="main">
    [% PROCESS widgets/sidebar.tt %]
    <article class="page">
        <div class="page_container">
            <section class="page_content">
                [% PROCESS partials/masthead_nav.tt %]
                [% PROCESS partials/post.tt %]
            </section>
        </div>
    </article>
</div>
